/* 图标颜色 */
.icon-color {
  // 翻转色字体颜色
  color: var(--el-header-text-color);
  outline: none; // 去除伪元素
  &:hover {
    color: var(--el-color-primary);
    cursor: pointer;
  }
}

.svg-icon {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
  vertical-align: -2px;
}
